.App {
  text-align: center;
  color: white;
}

.Card-List
{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  column-gap: 1.1%;
  row-gap: .1%;
  padding-top: 1%;
}

.Card
{
  outline: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

img
{
  width: 350px;
}
